div
    input.form-control.typeahead(
        type='text'
        autocomplete='off'
        v-model='query')
    ul(v-show='hasItems')
        li(v-for='(item, $item) in items' v-bind:class='activeClass($item)' v-on:mousedown='hit' v-on:mousemove='setActive($item)')
            span.name(v-text='item.name')
            //span.des(v-text='item.description')